.header {
    height: 70px;
    border-bottom: 1px solid rgb(216, 216, 216);
}
.header__container {
    height: 100%;
    display: inline-block;
    align-items: center;
}
.header__container__seach_form input{
    border: 1px solid rgb(216, 216, 216);
    border-radius: 26px;
}

.header__container__seach_form input:focus{
    border: 1px !important;
}